html,body{
    overflow-x: hidden;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.banner{
    width: 100%;
    height: 100vh;
    background: url("../pic/KoremRpsum.png")no-repeat 50% 85% / 80%,
                url("../pic/banner.jpg") no-repeat center / cover;
    position: relative;
}

.menubar{
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    z-index: 2;
    background-color: #fff;
}
    
.logo{
    display: none;
}

.languageItem{
    display: none;
}

.menubar-open i{
    font-size: 2.5rem;
    color: #000;
}

.menubar-close i{
    position: absolute;
    top: 45px;
    right: 40px;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: #8D887E;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    box-sizing: border-box;
    transform: translateX(0);
    transition: .3s;
}

.nav-bar li{
    padding: 30px 0 28px 100px;
    position: relative;
}

.nav-bar li:last-child a{
    margin-right: 25px;
}

.nav-bar a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: .3rem;
}

.nav-bar a:hover {
    color: #CC9999;
}

.nav-bar li + li::before {
    content: '';
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, .3);
    left: 100px;
    right: 80px;
    top: 0;
}

.brand{
    width: 100%;
    background-color: #161416;
}

.swiper-scrollbar{
    background-color: rgba(141, 136, 126, .5);
}

.swiper-scrollbar-drag {
    background-color: #8D887E;
}

.txt{
    color: #F3F3F3;
}

.txt h2{
    padding-top: 100px;
}

.txt p {
    line-height: 2;
    padding: 8px 0;
}

.card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content img{
    width: 100%;
    vertical-align: bottom;
}

.brand-name{
    position: absolute;
    bottom: 0;
    padding: 8px 21px;
    background-color: #fff;
}

.about{
    width: 100%;
    height: 100vh;
    background-color: #161416;
    background-image: url("../pic/map.png");
    background-repeat: no-repeat;
    background-position: 85%;
}

.business{
    width: 100%;
    background-color: #161416;
}

.business .content{
    margin-bottom: 50px;
}

.business .txt ul,
.business .content ul{
    margin-top: 50px;
}

.business .txt li{
    line-height: 2;
    font-size: 14px;
}

.business .txt li:first-child{
    color: #C9B38F;
    font-size: 16px;
}

.business .txt li i{
    margin-right: 13px;
}

.business .nav-tabs{
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(243, 243, 243, .3);
}

.business .nav-link{
    color: #F3F3F3;
}

.business .nav-link.active{
    background-color: transparent;
    border-color: transparent;
    color: #C9B38F;
    border-bottom: 2px solid #C9B38F;
}

.business .nav-tabs .nav-link:focus,
.business .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.business img{
    width: 100%;
    vertical-align: bottom;
}

.app-screen{
    width: 100%;
    background: #fff url("../pic/footer.jpg") no-repeat bottom / 100%;
    padding: 70px 0;
}

.app-screen .txt{
    color: #000;
    width: 70%;
}

.app-screen .txt h2{
    padding-top: 0;
}

.app-screen .tag{
    color: #C9B38F;
    font-size: 14px;
}

.app-screen img{
    width: 100%;
    vertical-align: bottom;
}

.contact{
    width: 100%;
    height: 500px;
    background-color: #161416;
}

.contact .contact-item{
    padding-top: 40px;
}

.contact .contact-item p{
    line-height: .8;
}

.contact .contact-item p:first-child{
    color: #C9B38F;
    font-size: 14px;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: #161416;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link{
    text-align: center;
}

.footer-link a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}

.footer-link .menu,
.footer-link .contact-icon{
    display: none;
}

@media screen and (min-width: 992px){
    .banner{
        background: url("../pic/KoremRpsum.png")no-repeat 85% 85% / 30%, 
                    url("../pic/Line-Graphic.png")no-repeat center / 97%,
                    url("../pic/banner.jpg") no-repeat center / cover;
    }  

    .menubar{
        justify-content: space-between;
        background-color: transparent;
        padding: 48px 50px 0;
        transition: .3s ease-out;
    }

    .menubar.active{
        transition: .3s ease-in;
        background-color: #fff;
        padding: 20px 50px;
    }

    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    

    .languages{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menubar-open i{
        color: #fff;
        transition: .3s ease-out;
    }

    .menubar-open.active i{
        color: #000;
    }    

    .languageItem{
        display: block;
    }
    
    .languages a{
        text-decoration: none;
        font-size: 1rem;
        color: #fff;
        margin-right: 20px;
        transition: .3s ease-out;
    }

    .languages.active a{
        color: #000;
    }
    
    .languages a:last-child{
        margin-right: 0;
    }
    
    .side-menu {
        width: 50%;
    }

    .brand{
        height: 100vh;
    }    

    .brand p {
        width: 770px;
    }

    .txt h2{
        padding-top: 150px;
    }    

    .about{    
        background-position: center;
        background-size: 80%;
    }
    
    .about p {
        width: 370px;
    }

    .business .txt ul,
    .business .content ul{
        margin-top: 150px;
    }

    .app-screen{
        height: 200vh;
    }
    
    .app-screen .txt h2:nth-child(1){
        padding-top: 100px;
    }
    
    .contact .contact-item{
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
    }    
        
    .footer-link{
        display: flex;
        justify-content: space-around;
    }

    .footer-link .menu,
    .footer-link .contact-icon{
        display: block;
    }
    
}